<ibm-header [route]="['/']" name="Carbon Tutorial">
  <ibm-header-navigation ariaLabel="Carbon Tutorial">
    <ibm-header-item [route]="['/repos']">Repositories</ibm-header-item>
  </ibm-header-navigation>
  <ibm-header-global>
    <ibm-header-action title="action">
      <svg icon ibmIconNotification20></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg icon ibmIconUserAvatar20></svg>
    </ibm-header-action>
    <ibm-header-action title="action">
      <svg icon ibmIconAppSwitcher20></svg>
    </ibm-header-action>
  </ibm-header-global>
</ibm-header>





<!-- <ibm-header name="[Platform]"> -->



<!-- <ibm-header-navigation>
  <ibm-header-item routerLink="catalog">Catalog</ibm-header-item>
  <ibm-header-item routerLink="docs">Docs</ibm-header-item>
  <ibm-header-item routerLink="support">Support</ibm-header-item>
  <ibm-header-menu title="Manage">
    <ibm-header-item routerLink="link1">Link 1</ibm-header-item>
    <ibm-header-item>Link 2</ibm-header-item>
    <ibm-header-item>Link 3</ibm-header-item>
  </ibm-header-menu>
</ibm-header-navigation>
<ibm-header-global>
  <ibm-header-action title="action">
    <svg ibmIcon="notification" size="20"></svg>
  </ibm-header-action>
  <ibm-header-action title="action">
    <svg ibmIcon="user--avatar" size="20"></svg>
  </ibm-header-action>
  <ibm-header-action title="action">
    <svg ibmIcon="app-switcher" size="20"></svg>
  </ibm-header-action>
</ibm-header-global> -->




<!-- </ibm-header> -->

<!-- <ibm-header name="[Platform]"> -->

<!-- <ibm-hamburger></ibm-hamburger>
<ibm-header-navigation>
  <ibm-header-item>Catalog</ibm-header-item>
  <ibm-header-item>Docs</ibm-header-item>
  <ibm-header-item>Support</ibm-header-item>
  <ibm-header-menu title="Manage">
    <ibm-header-item>Link 1</ibm-header-item>
    <ibm-header-item>Link 2</ibm-header-item>
    <ibm-header-item>Link 3</ibm-header-item>
  </ibm-header-menu>
</ibm-header-navigation>
<ibm-header-global>
  <ibm-header-action title="action">
    <svg ibmIcon="notification" size="20"></svg>
  </ibm-header-action>
  <ibm-header-action #firstAction title="action">
    <svg ibmIcon="user--avatar" size="20"></svg>
  </ibm-header-action>
  <ibm-header-action [(active)]="secondAction" title="action">
    <svg ibmIcon="app-switcher" size="20"></svg>
  </ibm-header-action>
</ibm-header-global> -->

<!-- </ibm-header> -->

<!-- <ibm-sidenav [expanded]="deactive">
  <ibm-sidenav-item>
    <svg icon ibmIconFade size="16"></svg>
    Link
  </ibm-sidenav-item>
  <ibm-sidenav-item>
    <svg icon ibmIconFade size="16"></svg>
    Link
  </ibm-sidenav-item>
  <ibm-sidenav-menu title="Category title">
    <svg icon ibmIconFade size="16"></svg>
    <ibm-sidenav-item>Link</ibm-sidenav-item>
    <ibm-sidenav-item [active]="hasActiveChild">Link</ibm-sidenav-item>
    <ibm-sidenav-item>Link</ibm-sidenav-item>
  </ibm-sidenav-menu>
</ibm-sidenav>
<ibm-panel [expanded]="firstAction.active"></ibm-panel>
<ibm-panel [expanded]="secondAction">
  <ibm-switcher-list>
    <ibm-switcher-list-item active="true"
      >Switcher item one</ibm-switcher-list-item
    >
    <ibm-switcher-list-item>Switcher item two</ibm-switcher-list-item>
    <ibm-switcher-list-item>Switcher item three</ibm-switcher-list-item>
    <ibm-switcher-list-item>Switcher item four</ibm-switcher-list-item>
  </ibm-switcher-list>
</ibm-panel> -->